<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý mỹ phẩm</title>
    <link rel="icon" href="Hinhanh/logo1.jpg">
    <link rel="stylesheet" href="/Admin/css/adminpage.css">
    <link rel="stylesheet" href="/Admin/css/mypham.css">
    <link rel="stylesheet" href="/Admin/css/nhanvien.css">
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.css">
    <link rel="stylesheet" href="/reset/reset2.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="angular/angular.min.js"></script>
    <script src="angular/globalAdmin.js"></script>
    <script src="angular/mypham.js"></script>
</head>
<body ng-app="AppAdmin"  ng-controller="MyPham">
    <section class="header">
        <div class="baoquat"> 
            <a class="header_support" href="index.html">
                <img src="Hinhanh/logo1.jpg" alt="">
            </a>                    
            <div class="headerbaiviet">
                <div>
                  <p style="font-size: 25px;">QUẢN LÝ MỸ PHẨM</p>
                </div>          
                <img class="imgheader" src="./Hinhanh/icons8_lipstick.svg" alt="#">
            </div>
        </div>       
    </section>
    <div class="phanthanto">
        <div class="menubentrai" style="height: auto;">
            <div class="danhsach">
                <ul class="danhsach_ul">
                    <a href="Adminpage.html" class="ds_link active">
                        <i class="fa-solid fa-house-user"></i>
                        <span class="ds_text" style="margin-left: 5px;">Trang chủ</span>
                    </a>
                    <a href="BaiViet.html" class="ds_link active">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <span class="ds_text" style="margin-left: 5px;">Bài viết</span>
                    </a>
                    <a href="MyPham.html" class="ds_link active">
                        <i class="fa-brands fa-product-hunt"></i>
                        <span class="ds_text" style="margin-left: 11px;">Mỹ phẩm</span>
                    </a>
                    <a href="KhachHang.html" class="ds_link active">
                        <i class="fa-solid fa-users" style="color: #ffffff;"></i>
                        <span class="ds_text" style="margin-left: 6px;">Khách hàng</span>
                    </a>
                    <a href="NhaCungCap.html" class="ds_link active">
                        <i class="fa-solid fa-truck-field"></i>
                        <span class="ds_text" style="margin-left: 7px;">Nhà cung cấp</span>
                    </a>
                    <a href="NhanVien.html" class="ds_link active">
                        <i class="fa-regular fa-user"></i>
                        <span class="ds_text" style="margin-left: 10px;">Nhân viên</span>
                    </a>
                    <a href="HoaDonNhap.html" class="ds_link active">
                        <i class="fa-solid fa-money-bill"></i>
                        <span class="ds_text" style="margin-left: 8px;">Hoá đơn nhập</span>
                    </a>
                    <a href="DonHangDat.html" class="ds_link active">
                        <i class="fa-solid fa-file-invoice"></i>
                        <span class="ds_text" style="margin-left: 14px;">Đơn hàng đặt</span>
                    </a>
                    <a href="ThongKe.html" class="ds_link active">
                        <i class="fa-solid fa-circle-info"></i>
                        <span class="ds_text" style="margin-left: 10px;">Thống kê</span>
                    </a>
                    <a href="#" class="ds_link active">
                        <i class="fa-brands fa-instalod"></i>
                        <span class="ds_text" style="margin-left: 10px; ">Cài đặt</span>
                    </a>
                    <a onclick="localStorage.setItem('user',null);window.location.href ='Login.html' " class="ds_link active">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="ds_text" style="margin-left: 10px; ">Đăng xuất</span>
                    </a>
                </ul>
            </div>
        </div>
        <div class="bodybenphaimp">  
            <div class="phantren" style="height: 370px;">
                <div class="phantren1">
                    <div class="nhap-thongtin">
                        <h3 class="text-header"><i class="fa-solid fa-pen-to-square" style="color: #ff6600;"></i>Nhập thông tin mỹ phẩm</h3>
                        <div class="nhap-thongtin-sp" style="margin-top: -16px;">
                            <label for="MaMP" class="txtmasp" >Mã mỹ phẩm: </label>
                            <input id="MaMP" type="text"  style="width: 347px;" placeholder="Nhập mã mỹ phẩm...">

                            <label for="MaMP" class="txtmasp" >Tên mỹ phẩm: </label>
                            <input id="TenMP" type="text"  style="width: 347px;" placeholder="Nhập tên mỹ phẩm...">


                            <label for="select-loai-sp">Mã loại mỹ phẩm: </label>
                            <select id="MaLoaiMP" name="select-loai-sp" style="width: 367px;" >
                                <option value="choose">--Chọn loại mỹ phẩm</option>
                                <option value="L01">L01</option>
                                <option value="L02">L02</option>
                                <option value="L03">L03</option>
                                <option value="L04">L04</option>  
                                <option value="L05">L05</option>
                                <option value="L06">L06</option>
                                <option value="L07">L07</option>
                                <option value="L08">L08</option>   
                                <option value="L09">L09</option>
                                <option value="L10">L10</option>       
                            </select>

                        </div>                  
                    </div>  
                    <div class="nhap-thongtin">
                        <form class="nhap-thongtin-sp" style="margin-top: 80px;">
                            <label for="MaMP" class="txtmasp">Giá bán: </label>
                            <input type="text" id="GiaMoi" style="width: 347px;" placeholder="Nhập giá bán của mỹ phẩm...">
                            <label for="MaMP" class="txtmasp">Giá nhập: </label>
                            <input type="text" id="GiaCu" style="width: 347px;" placeholder="Nhập giá nhập của mỹ phẩm...">
                            <label for="MaMP" class="txtmasp">Số lượng: </label>
                            <input type="text" id="SL" style="width: 347px;" placeholder="Nhập số lượng mỹ phẩm...">
                        </form>                  
                    </div>  

                    <div class="nhap-thongtin">
                        <form class="nhap-thongtin-sp" style="margin-top: 80px;">
                            <label for="TenMP" class="txtmasp">Hình ảnh: </label>
                            <input id="HinhAnh" type="file"  style="width: 347px;" placeholder="Nhập hình ảnh mỹ phẩm...">   
                            <label for="TenMP" class="txtmasp">Mô tả: </label>
                            <input id="MoTa" type="text"  style="width: 347px;" placeholder="Nhập mô tả mỹ phẩm...">   
                            <label for="TenMP" class="txtmasp">Ghi chú: </label>
                            <input id="GhiChu" type="text"  style="width: 347px;" placeholder="Nhập ghi chú mỹ phẩm...">               
                        </form>                  
                    </div>   
                    
                </div>            
                <div class="cacbuttons" style="margin-top: 70px;">
                    <button ng-click="ThemMP()" class="themmp"><i class="fa-solid fa-plus" style="margin-right: 5px;"></i>Thêm</button>
                    <button id="btnUpdate" ng-click="SuaMP()"  class="suamp"><i class="fa-solid fa-pen" style="margin-right: 5px;"></i>Sửa</button>
                    <button onclick="LamMoi()"  class="capnhatmp"><i class="fa-solid fa-arrows-rotate" style="margin-right: 5px;"></i>Làm mới</button>
                </div> 
            </div>  
            
            <div class="phanduoi" style="height: 570px;">
                <div class="header-ds">
                    <h3 class="text-header" style="margin-left: 20px;"><i class="fa-solid fa-list-ul"></i> Danh sách mỹ phẩm</h3>
                    <button ng-click="XoaChon()" style="margin-right: 35px; background-color: #ff6600;"><i class="far fa-trash-alt"></i> 
                        Xóa chọn
                    </button>
                </div>
                <div class="searchs">
                    <input type="text" placeholder="Nhập mã, tên mỹ phẩm mà bạn muốn tìm kiếm..." style="width: 2000px;">
                    <button id="btnSearch" style="margin-left: 20px;"><i class="fa-solid fa-magnifying-glass"></i>Tìm kiếm</button>
                </div>

                <table class="table-ds-sp" style="margin-left: 20px;">
                    <thead>
                        <tr style="font-weight: bold; height: 40px; font-size: 18px;">
                            <th style="padding-top: 10px;"><input type="checkbox" ng-click="CheckAll()" ng-model="selectAll"></th>
                            <th>Mã MP</th>
                            <th>Tên mỹ phẩm</th>
                            <th>Mã loại</th>
                            <th>Giá bán</th>
                            <th>Giá nhập</th>
                            <th>Số lượng</th>
                            <th>Hình ảnh</th>
                            <th>Mô tả</th>
                            <th>Ghi chú</th>
                            <th>Tác vụ</th>  
                        </tr>
                    </thead>

                     <tbody> 
                        <tr ng-repeat="mp in listMP">
                            <td><input type="checkbox" ng-model="mp.selected"></td>
                            <td>{{mp.maMP}}</td>
                            <td>{{mp.tenMP}}</td>
                            <td>{{mp.maLoaiMP}}</td>
                            <td>{{mp.giaMoi}}</td>    
                            <td>{{mp.giaCu}}</td>
                            <td>{{mp.slTon}}</td>  
                            <td><img src="{{host+'/'+mp.anhDaiDien}}" alt="no" width="70px" height="70px"></td>    
                            <td>{{mp.moTa}}</td>
                            <td>{{mp.ghiChu}}</td>               
                            <td style="text-align: center;">
                                <i class="fas fa-edit" title="Sửa" data-mamp="{{mp.maMP}}" onclick="SuaMPicon(this)"></i>
                                <i class="fas fa-trash-alt" title="Xóa" data-mamp="{{mp.maMP}}"></i>
                            </td>
                        </tr>
                    </tbody>

                </table>
                <div class="soluong">
                    <div class="tong-soluong">
                        <p>Số lượng mỹ phẩm </p>
                    </div>
                    <div class="page">
                        <button><i class="fa-solid fa-angles-left"></i></button>
                        <button ng-click="changePage('prev')"><i class="fa-solid fa-angle-left"></i></button>
                        <button  ng-click="changePage(page)" ng-class="{ 'active-page': currentPage === page }">{{
                            page }}</button>
                        <button ng-click="changePage('next')"><i class="fa-solid fa-angle-right"></i></button>
                        <button ><i class="fa-solid fa-angles-right"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>       
</div> 
</body>
</html>